<div id="assignments">
  <div class="cards">
    <% @assignments.each do |a| %>
      <div class="card">
        <div class="card-header">
          <%= link_to a.name, a %>
        </div>
        <div class="card-copy">
          <%= markdown(a.description[0..300] + "\n...") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
