<div id="assignments">
  <header>
    <h1>Assignments</h1>
  </header>

  <div class="cards">
    <% @assignments.each do |a| %>
      <div class="card">
        <div class="card-header">
          <%= a.name %>
        </div>
        <div class="card-copy">
          <%= markdown(a.description[0..300] + "\n...") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
